<div id="<%= dom_id event %>">
  <p>
    <strong>Date & Time:</strong>
    <%= event.datetime %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= event.source %>
  </p>

</div>
